---
permalink: /feed.json
layout: null
eleventyExcludeFromCollections: true
---
{% set defaultLang = site.defaultLang or 'zh' %}
{% set siteLangData = site.languages[defaultLang] or site.languages.zh %}
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ siteLangData.title }}",
  "home_page_url": "{{ site.url }}/",
  "feed_url": "{{ site.url }}/feed.json",
  "description": "{{ siteLangData.description }}",
  "language": "{{ siteLangData.locale or 'zh-CN' }}",
  "items": [
    {% for item in collections.cases %}
    {
      "id": "{{ site.url }}{{ item.url }}",
      "url": "{{ site.url }}{{ item.url }}",
      "title": {{ item.data.title | dump }},
      "content_html": {{ item.templateContent | dump }},
      "date_published": "{{ item.date | dateIso }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
